#header {
    background-color: gray;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    color: #9e9e9e;
}

.nav-link :hover {
    color: #cdcdcd;
}

.nav-item :visited {
    background: #9a9a9a;
    color: white;
    border-radius: 5px;
}

