#header {
    background-color: #383838;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    color: #9e9e9e;
    text-align: right;
}

#headerAdm {
    background-color: #383838;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    color: #9e9e9e;
    text-align: right;
}

.nav-link {
    color: #cdcdcd;
}

.nav-link:hover {
    color: #0065fc;
}

.nav-item {
    color: #232323;
    border-radius: 5px;
}

/* ------------------- */

